---
---

body
  font-family: 'Josefin Slab', serif
  background-color: #323232

div
  padding-left: 20px
  padding-right: 20px

header
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
  color: #494949

  text-align: center

.inner
  border-bottom: 1px solid #383838

hr
  width: 100px
  margin-top: 35px
  margin-bottom: 35px
  border-color: rgba(130, 130, 130, 0.28)


#content-wrapper
  color: #828282
  text-align: center
